
.mail-link:hover{text-decoration: underline;color:#2a56c6 !important;}

.contacts{
    margin-left:20px;
    margin-top:10px;
    margin-right:20px;
}
.contacts tr:hover{
    cursor:pointer;
}
.contact-container{
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
}
.add-contact{
    bottom: 20px;
    right: 20px;
    position: fixed;
    border-radius: 50%;
    padding: 20px 20px;
    background-color: rgb(42, 86, 198) !important;
    border: none;
}
.add-contact:hover{
    background-color: #0048ff !important;
}
.add-contact i{
    color:white;
}

@media (max-width: 360px) {
    .contacts{
        margin-left:0px;
    }
    .contacts .photo{
        width:48px;
    }
    .contact-container{
        min-height: 100%;
    }
    .navbar-burger:hover {
        background:transparent;
    }
}
